body {
    background-color: white;
    margin: 0px;
}

/* Seccion header */

header {
    background-color: red;
    height: 5%;
    width: 100%;
    display: table;
}

.headerCentrado {
    width: 95%;
    /*border: 2px solid black;*/
    margin: auto;
    margin-top: 1%;
}

.menuHeader {
    color: black;
    width: 5%;
    height: 5%;
    /*border: 2px solid black;*/
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.tituloHeader {
    color: white;
    /*border: 1px solid black;*/
    width: 80%;
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: inherit;

}

.logoHeader {
    width: 9%;
    /*border: 2px solid black;*/
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}


/* Seccion index */

.circulosMenu{
  width: 45.4em;
  height: 45.4em;
/*  border: 2px solid black; */
  border-radius: 50%;
  margin: auto;
/*  background-color: red; */
  position: relative;
}

.indexLineaHorizontal{
  width: 100%;
  height: 15.13em;
  display: table;
}

.indexIcono{
  margin-top: 2em;
  z-index: 1;
  margin-left: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.indexIconosRedondos{
  border: 2px solid black;
  border-radius: 50%;
}
/*
.indexIconosRedondos:hover{
  width: 100px;
  height: 100px;
}
*/

/* Seccion como llegar  */

.comollegaraa {
    text-align: center;
}

.direccion {
    font-weight: bold;
    font-size: 18px;
}

.centrrarHR {
    margin-left: 35%;
    margin-right: 35%;
}

.mapacomollegar {
    width: 500px;
    height: 400px;
}

.separarimg {
    height: 10px;
}

/* Seccion menu */

/* Seccion patrocinadores */

.patroHr{
  width: 100px;
}

.patroTexto1{
  margin-left:auto;
  margin-right: auto;
  width: 220px;
  height: 80px;
}
.patroTexto2{
  margin-right: auto;
  margin-left:auto;
  width: 260px;
  height: 80px;
}

.patrocinioPrincipal{
  width: 1300px;
  height:200px;
  margin-left:auto;
  margin-right: auto;


}

.patrocinioPrincipaluno{
  margin-right: 2%;
  height: 130px;
  width: 400px;
  display: inline-block;
}

.patrocinioPrincipaldos{
  margin-right: 2%;
  height: 130px;
  width: 400px;
  display: inline-block;
}

.patrocinioPrincipaltres{
  margin-right: 2%;
  height: 130px;
  width: 400px;
  display: inline-block;

}

.patrociniocol2{
  width: 910px;
  height:200px;

  margin-left:auto;
  margin-right: auto;

}

.patrociniocoluno{
  margin-right: 3%;
  width: 150px;
  height:150px;
  display: inline-block;
}

.patrociniocoldos{
  margin-right: 3%;
  width: 150px;
  height:150px;
  display: inline-block;
}

.patrociniocoltres{
  margin-right: 3%;
  width: 150px;
  height:150px;
  display: inline-block;
}

.patrociniocolcuatro{
  margin-right: 3%;
  width: 150px;
  height:150px;
  display: inline-block;
}

.patrociniocolcinco{
  margin-right: 3%;
  width: 150px;
  height:150px;
  display: inline-block;
}

/* Seccion programa del evento */

/* Seccion quienes somos */
.textosomos{
  width: 700px;
  height: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 17px;
}
.equipodesarrollo{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: 200px;
  margin-bottom: 2%;
}
.nuestroequipo{
  width: 150px;
  height: 150px;
  margin-right: 25px;
  border-radius: 50%;
}
/* Seccion instalaciones */

.generalInstalacion {
    width: 100%;
    margin: auto;
}

.fotografia {
    width: 300px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.fotografia:hover {
    width: 320px;
    height: 270px;
}

/* Seccion formulario de registro */

/* Seccion registro de talleres */

/* Seccion servicios */

.serviciosCompleto{
  width: 100%;
  margin: auto;
  margin-top: 1%;
  text-align: center;
}

.servicios {
    color: aliceblue;
    font-weight: bold;
    width: 370px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.servicioheader {
    background-color: red;
    padding: 7px;
    width: auto;
    margin: auto;
}

/*fin de Servicios*/

/* Seccion footer */
footer {
    background: red;
    color: white;
    text-align: center;

    height: 50px;
}

.tituloLogo {
    padding-left: 170px;
    margin-right: auto;
    display: inline-block;
}

.uemlogofooter {
    width: 35px;
    height: 35px;
    margin-top: 7px;
    padding-right: 10px;
    float: center;
}

.textofooter {
    float: right;
    margin-top: -5px;
}

.redessociales {
    float: right;
    margin-right: auto;
    margin-top: 7px;
    padding-right: 20px;
}

.cuadrarimgfooter {
    padding: 8px;
    width: 22px;
    height: 22px;
}
