body{
    background-color: white;
    margin: 0px;
}

/* Seccion header */

header {
    border: 1px black solid;
    background-color: red;
    height: 70px;
    width: 100%;
    text-align: center;
    align-items: center;
}

.menuHeader {
    color: black;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    float: left;
    position: absolute;
}

.tituloHeader {
    color: white;
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

.campusHeader {
}
/*
.logoHeader {
    float: right;
    margin-top: -87px;
    margin-right: 35px;
}
*/
/* Seccion index */

/* Seccion como llegar  */
.comollegaraa{
  text-align: center;
}
.direccion{
  font-weight: bold;
  font-size: 18px;
}
.centrrarHR{
  margin-left: 35%;
  margin-right: 35%;
}
.mapacomollegar{
  width: 500px;
  height:400px;
}
.separarimg{
  height: 10px;
}
/* Seccion menu */

/* Seccion patrocinadores */

/* Seccion programa del evento */

/* Seccion quienes somos */

/* Seccion instalaciones */

.generalInstalacion{
  width: 100%;
  margin: auto;
}
.fotografia{
  width: 300px;
  height: 250px;
  border: 2px solid black;
  display: inline-block;
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.fotografia:hover{
  width: 320px;
  height: 270px;
}

/* Seccion formulario de registro */

/* Seccion registro de talleres */

/* Seccion servicios */

/* Seccion footer */
footer{
  background:red;
  color:white;
  text-align: center;
  height:50px;
}
.tituloLogo{
  padding-left: 170px;
  margin-right: auto;
  display: inline-block;
}
.uemlogofooter{
  width:35px;
  height:35px;
  margin-top: 7px;
  padding-right: 10px;
  float: center;
}
.textofooter{
  float: right;
  margin-top: -5px;
}
.redessociales{
  float: right;
  margin-right: auto;
  margin-top: 7px;
  padding-right: 20px;
}
.cuadrarimgfooter{
  padding: 8px;
  width:22px;
  height:22px;
}